<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Магазин роскоши</title>
</head>
<body>
    <h1>Магазин роскоши</h1>
    <ul>
        {% for product in products %}
            <li>
                <strong>{{ product.name }}</strong><br>
                Цена: {{ product.price }}<br>
                В наличие: {{ product.stock }}<br>
                {% if product.stock > 0 %}
                    <a href="{% url 'buy' product.id %}">Купить</a>
                {% else %}
                    <span>Товар закончился</span>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</body>
</html>
